# Force.com IDE
# The archive/ directory is a manually created directory by convention
# for holding the project archives automatically created as part
# of the deployment process.
archive/
.project
salesforce.schema

# MavensMate
config/

# Sublime Text
*.sublime*

# Mac OS X
.DS_Store
